#ignores all blender backup files

*.blend1

# Wwise
.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
IncrementalSoundBankData.xml



#build specific ignores, build wont be git merged, but instead merged though manuall push of main
#ignores debug scripts
./Debug_Tester Scripts/

#ignores all notes
./Shared Notes/
./Git-Workshop-Folien-WiSe2425-handout.pdf